@charset "utf-8";
/* CSS Document */
.login_body
{
	background:url(../image/background/login_page.jpg) !important;
	background-size:cover !important;
}

.login_box
{
	transform:translateY(calc(50% - 80px));
	background-color:#FFFFF9;
	text-align:center;
	border-radius:7px;
	box-shadow:4px 4px 8px 8px rgba(0,0,0,.1);
	padding:40px 0;
}

.username input
{
	height:50px;
	border:none;
	background:none;
	//color:#fff;
	border-radius:7px;
	border-bottom:1px solid #000;
	padding-left:40px;
	margin:5px 0;
}
.form-element
{
	margin:10px 0;
}
.file-element{ padding-left:15%; }

input::placeholder
{
	//color:#fff;
}


.username::before
{
		position:absolute;
		padding-top:3%;
		padding-left:2%;
		content:"\f007";
		font-family:"FontAwesome";
		font-size:20px;
		color:#888;		
}
.key::before
{
		content:"\f084";
}
.email::before
{
		content:"\f003";
}

.login_btn
{
	margin-bottom:10px;
}
h1{ //color:#fff;}

.reg_box
{
	transform:translateY(calc(70%));
	background: linear-gradient(135deg,#6a82fb,#fc5c7d);
	text-align:center;
	border-radius:7px;
	box-shadow:4px 4px 8px 8px rgba(0,0,0,.1);
	padding:20px 40px;
	color:#fff;
}

.btn-outline-light
{
	border-radius:20px;
}

.login_box2
{
	transform:translateY(calc(50% - 35%));
	background-color:#FFFFF9;
	text-align:center;
	border-radius:7px;
	box-shadow:4px 4px 8px 8px rgba(0,0,0,.1);
	padding:20px 0;
}


.login_box2 .username::before
{
		position:absolute;
		padding-top:2%;
		padding-left:2%;
		content:"\f007";
		font-family:"FontAwesome";
		font-size:20px;
		color:#888;		
}
.login_box2 .key::before
{
		content:"\f084";
}
.login_box2 .email::before
{
		content:"\f003";
}

@media (max-width:767px)
{
	.reg_box
	{
		display:none !important;
	}
}